/* src/components/NavigationBar.css */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Ensure the navbar is above other content */
    background-color: #cdd3da; /* Dark background color */
    padding: 8px 16px; /* Add more padding for better spacing */
    font-family: 'Arial, sans-serif'; /* Use a modern font */
    font-weight: bold;
  }
  
  .navbar-brand {
    color: #1e0505bc; /* White brand text */
    font-size: 1.5rem; /* Increase font size for the brand */
  }
  
  .navbar-brand:hover {
    color: #dcdcdc; /* Light grey hover effect for the brand */
  }
  
  .nav-link {
    color: #00000040; /* White link text */
    margin-right: 15px;
    transition: color 0.3s; /* Smooth color transition */
  }
  
  .nav-link.active {
    color: #007bff; /* Blue color for active link */
  }
  
  .nav-link:hover {
    color: #dcdcdc; /* Light grey hover effect for links */
    text-decoration: none;
  }
  
  /* Ensure the page content doesn't hide behind the fixed navbar */
  body {
    padding-top: 70px; /* Adjust this value if your navbar height is different */
    margin: 0; /* Reset margin to ensure full width */
  }
  
  .navbar-toggler {
    border-color: rgb(253, 255, 251); /* Toggler button color */
  }
  
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }
  